@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body{font-family: 'Open Sans', sans-serif;}
/*---sidebar css---*/
.sidebar{background-color: #1C534C;position: fixed;left:0;top:0;height: 100%;padding: 1rem 0;width: 60px;z-index: 999;}
.sidebar .nav-link{text-align: center;color: #62A777;}
.sidebar .top-nav .nav-link{font-size: 2rem;}
.sidebar .top-nav img{width: 30px;}
.sidebar .social-nav{position: absolute;bottom: 0;width: 100%;}
.sidebar .social-nav .nav-item{padding: 8px 0;}
.sidebar .social-nav .nav-link{font-size: 1.2rem;}
/*---header css---*/
header{padding-top: 20px;}
/* header .navbar .navbar-nav{width: 80%;} 
header .navbar .navbar-nav .nav-item{width: 20%;}*/
header .navbar-toggler{background-color: #1C534C;color: #fff;padding: 10px;}
header .navbar-toggler .navbar-toggler-icon{font-size: 1.5rem;height: auto;}
header .navbar .navbar-nav .nav-item{padding: 0 20px;}
header .navbar .navbar-nav .nav-link, #app .navbar .navbar-nav .nav-item .nav-link{color: #1C534C;font-size: 14px;font-weight: 600;}
header .navbar .navbar-nav .nav-item.active .nav-link{color: #62A777;font-weight: 900;}
header .nav{align-items: center;}
header .nav .nav-link{color: #62A777;font-weight: 600;}
header .nav .nav-link span{background-color: #62A777;font-weight: 600;color: #fff;width: 35px;height: 35px;border-radius: 50%;vertical-align: middle;line-height: 35px;text-align: center;font-size: 1.2rem;}
header .nav .nav-link.logout{background-color: #CDE8D2;font-weight: 600;color: #62A777;width: 35px;height: 35px;border-radius: 50%;vertical-align: middle;line-height: 35px;text-align: center;font-size: 1.2rem;padding: 0;}
header .nav .nav-link.logout:hover{background-color: #62A777;color: #fff;}
.mobile-nav{flex-direction: row;}
/*-------footer----css*/
footer .social-nav{width: 100%;display: none;background-color: #1C534C;}
footer .social-nav .nav-item{padding: 8px 0;}
footer .social-nav .nav-link{font-size: 1.2rem;color: #62A777;font-weight: 600;}
/*---page css-----*/
.wrapper{padding-left: 80px;background-color: #F2FDF5;min-height: 100vh;}
.landing-page .form-card{background-color: transparent;}
.content-wrapper .row{margin-left: 0;margin-right: 0;}
.form-control:focus{box-shadow:none;}
.content-wrapper{padding:30px 0;}
.form-card{border: 0;border-radius: 0 20px 20px 0;}
.form-card .left-col{background: url(../images/register-bg.jpg)center no-repeat;background-size: cover;padding: 0;}
.form-card .left-col .bg-overlay{background-color: rgba(28, 83, 76 , 0.9);position: relative;z-index: 1;height: 100%;width: 100%;padding:3rem 2.5rem 2rem;}
.form-card .left-col .brand{color: #fff;font-size: 2rem;text-transform: uppercase;font-weight: 700;font-family: 'Open Sans', sans-serif;}
.form-card .left-col .brand:hover{text-decoration: none;}
.form-card .left-col .brand-name{margin-top: 2.5rem;}
.form-card .left-col .brand-name h1{color: #fff;font-weight: 900;font-family: 'Open Sans', sans-serif;}
.form-card .left-col .brand-name h1 span{color: #62A777;}
.form-card .left-col .carousel{min-height: 180px;}
.form-card .left-col .carousel-indicators{margin-bottom: 0;}
.form-card .left-col .carousel-indicators li{width: 8px;height: 8px;border-radius: 50%;}
.form-card .left-col .carousel .carousel-item p{color: #f2f2f2;}
.form-card .left-col .carousel .carousel-item .btn{background-color:#62A777;border-radius: 20px;color: #fff;font-weight: 600;}
.form-card .left-col .carousel .carousel-item .btn .fa{font-size: 20px;}
.form-card .right-col{padding: 2rem;}
.form-card .right-col h3{color: #62A777;font-weight: 600;text-align: center;margin-bottom:0px;}
.form-card .right-col form{margin: 30px 0 0;}
.form-card .right-col .form-control{background-color:#efefef;border: 0;border-radius: 20px;}
.form-card .right-col .col-form-label{color: #666;padding: 0;margin-bottom: 10px;}
.form-card .right-col .input-group-append .input-group-text{border: 0;background-color: #efefef;border-radius: 0 20px 20px 0px;}
.form-card .right-col .input-group-prepend{background-color: #efefef;border-radius: 20px 0 0 20px;align-items: center;padding: 0 8px 0 10px;border-right:1px solid #eee;}
.form-card .right-col .input-group-prepend .input-group-text{border: 0;background-color: transparent;border-radius:0;padding: 0;line-height: 1;}
.form-card .right-col .input-group.phone .form-control{border-radius: 0 20px 20px 0px;border-left: 1px solid #ccc;}
.form-card .right-col .btn-submit{background-color: #62A777;color: #fff;border-radius: 20px;border:0;text-transform: uppercase;font-weight: 600;padding: 6px 20px;}
.form-card .right-col .btn-link{color: #62A777;}
#dashboardTab{border-bottom: 0;margin-bottom: 20px;}
#dashboardTab.nav-tabs .nav-item{width: 15%;margin-right: 20px;}
#dashboardTab.nav-tabs .nav-link{border: 0;background-color:#fff;color: #444;font-weight: 600;box-shadow: 0px 2px 5px #ccc;width: 100%;border-radius: 20px;}
#dashboardTab.nav-tabs .nav-link.active{background-color:#62A777;color: #fff;}
.content .tab-content{padding-top: 2rem;}
.content .tab-content .col-form-label{color: #666;}
.content .tab-content .form-control{background-color: #CDE8D2;color: #444;border: 0;border-radius: 20px;}
.content .tab-content .input-group-append .input-group-text{border: 0;background-color: #CDE8D2;border-radius: 0 20px 20px 0px;}
.content .tab-content .input-group-prepend{background-color: #CDE8D2;border-radius: 20px 0 0 20px;align-items: center;padding: 0 8px 0 10px;border-right:1px solid #eee;}
.content .tab-content .input-group-prepend .input-group-text{border: 0;background-color: transparent;border-radius:0;padding: 0;line-height: 1;}
.content .tab-content .input-group.phone .form-control{border-radius: 0 20px 20px 0px;border-left: 1px solid #ccc;}
.content .tab-content .btn-update{border:1px solid #1C534C;border-radius: 20px;padding: 6px 20px;text-transform: uppercase;margin-top: 1rem;}
.content .tab-content .btn-create{background-color: #62A777;color: #fff;border-radius: 20px;border:0;text-transform: uppercase;font-weight: 600;padding: 6px 20px;}
.content .tab-content textarea.form-control{min-height: 100px;}
#proposals .card{border-radius: 20px;background-color: #CDE8D2;border: 0;margin-bottom: 1rem;}
#proposals .card .card-header{background-color: transparent;border-bottom: 0;border-radius: 20px 20px 0 0;padding: 1rem 1rem 0;}
#proposals .card .card-header h5{color: #1C534C;font-weight: 700;}
#proposals .card .card-header label{color: #666;font-size: 14px;}
#proposals .card .card-text{color: #666;}
#proposals .card .btn-read{background-color:#62A777;border-radius: 20px;color: #fff;font-weight: 600;}
#proposals .card .btn-read .fa{font-size: 1.2rem;vertical-align: middle;}

.card-chat{border: 0!important;box-shadow: 0px 0px 10px #ccc;}
.card-chat .card-header{background-color: rgba(98, 167, 119, 0.1);}
.card-chat .card-header img{width: 60px;height: 60px;}
.card-chat .card-header .form-control{border-radius: 20px;}
.card-chat .card-header .title{color:#62A777;}
.card-chat .card-header .dropdown-toggle{font-size: 1.5rem;position: relative;color: #8a909d;}
.card-chat .card-header .dropdown-toggle::after{display: none;}
.card-chat .card-header .dropdown-toggle::before{font-family: "Material Design Icons";content: "\F1D9";}
.card-chat .card-header .dropdown-menu.show{left: auto!important;min-width: auto;right: 0;}
.chat-users{border-right: 1px solid #ddd;padding: 0!important;}
.card-chat .chat{display: flex;align-items: flex-start;}
.chat-users .chat-user-body{flex: 1;display: flex;justify-content: space-between;}
.chat-users .chat-user-content h5{color: #1b223c;font-size: 0.9375rem;margin-bottom: 0;}
.chat-users .chat-user-content .last-msg{width: 125px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;margin-bottom: 0;color: #8a909d;}
.chat-users .chat-date{text-align: right;font-size: 12px;color: #8a909d;}
.chat-users .nav-link{padding:.5rem 1rem;}
.chat-users .nav-link.active{background-color: #62A777;}
.chat-users .nav-link.active h5, .chat-users .nav-link.active p, .chat-users .nav-link.active span{color: #fff;}
.chat-users .status{position: absolute;bottom: 0;right: 0px;width: 12px;height: 12px;border: 2px solid #fff;border-radius: 50%;}
.chat-users .status.active{background-color: #29cc97;}
.chat-users .status.away{background-color: #fec400;}
.chat-right-content .chat-message{margin-bottom: 1.5rem;}
.chat-right-content .chat-message.chat-left img{width: 50px;}
.chat-right-content .chat-message.chat-right img{width: 40px}
.chat-right-content .chat-message.chat-right{text-align: right;justify-content: flex-end;}
.chat-right-content .chat-message .message{background-color: rgba(233, 236, 239, 0.5);padding: 0.5rem 1.25rem;border-radius: 0.25rem;margin-bottom: 0.25rem;color: #1b223c;}
.chat-right-content .chat-message .date-time{font-size: 10px;padding-left: 1.25rem;}
@media all and (min-width: 991px) and (max-width: 1024px){
    header .navbar-toggler{display: none;}
    header .navbar-collapse{display: flex!important;flex-basis: auto;}
}
@media all and (min-width: 768px) and (max-width: 990px){
    .form-card .left-col .carousel{min-height: 280px;}
    header .navbar-toggler{display: none;}
    header .navbar-collapse{display: flex!important;flex-basis: auto;}
    header .navbar-collapse .navbar-nav{flex-direction: row;}
    #dashboardTab.nav-tabs .nav-item{width: 25%;}
}
@media all and (max-width: 767px){
    header{padding-top: 0;}
    .form-card .left-col .bg-overlay{padding: 2rem 1.5rem;}
    .form-card .left-col .carousel{min-height: 280px;}
    .form-card .right-col h3{margin-bottom: 1.5rem;}
    header .navbar-collapse{position: absolute;width: 90%;top: 60px;z-index: 999;left: 16px;background-color: rgb(28, 83, 76);padding: 2rem 0;border-radius: .25rem;}
    header .navbar-collapse .navbar-nav .nav-link{color: #fff;font-weight: 600;}
    header .navbar-collapse .navbar-nav .nav-item{margin-bottom: 1.5rem;}
    #dashboardTab{justify-content: center;}
    #dashboardTab.nav-tabs .nav-item{width: 28%;margin-right: 5%;}
    #dashboardTab.nav-tabs .nav-item:last-child{margin-right: 0;}
}
@media all and (max-width: 600px){
    .sidebar{display: none;}
    .wrapper{padding-left: 0;}
    footer .social-nav{display: flex;justify-content: center;}
    .form-card .right-col{padding:2rem 1rem;}
}