.admin-sidebar{background-color: #1C534C!important;}
.admin-sidebar .sidebar{padding-bottom: 2rem!important;}
.admin-sidebar .app-brand{background-color: #62A777;}
.admin-sidebar .sidebar .nav > li.active > a i{color: #62A777;}
.admin-sidebar .sidebar .sidebar-inner > li > a:before{background: #62A777;} 
.main-header .navbar{padding-right: 0;}
.card-chat{border: 0!important;box-shadow: 0px 0px 10px #ccc;}
.card-chat .card-header{background-color: rgba(98, 167, 119, 0.1);}
.card-chat .card-header img{width: 60px;height: 60px;}
.card-chat .card-header .form-control{border-radius: 20px;}
.card-chat .card-header .title{color:#62A777;}
.card-chat .card-header .dropdown-toggle{font-size: 1.5rem;position: relative;color: #8a909d;}
.card-chat .card-header .dropdown-toggle::after{display: none;}
.card-chat .card-header .dropdown-toggle::before{font-family: "Material Design Icons";content: "\F1D9";}
.card-chat .card-header .dropdown-menu.show{left: auto!important;min-width: auto;right: 0;}
.chat-users{border-right: 1px solid #ddd;padding: 0!important;}
.card-chat .chat{display: flex;align-items: flex-start;}
.chat-users .chat-user-body{flex: 1;display: flex;justify-content: space-between;}
.chat-users .chat-user-content h5{color: #1b223c;font-size: 0.9375rem;margin-bottom: 0;}
.chat-users .chat-user-content .last-msg{width: 125px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;margin-bottom: 0;color: #8a909d;}
.chat-users .chat-date{text-align: right;font-size: 12px;color: #8a909d;}
.chat-users .nav-link{padding:.5rem 1rem;}
.chat-users .nav-link.active{background-color: #62A777;}
.chat-users .nav-link.active h5, .chat-users .nav-link.active p, .chat-users .nav-link.active span{color: #fff;}
.chat-users .status{position: absolute;bottom: 0;right: 0px;width: 12px;height: 12px;border: 2px solid #fff;border-radius: 50%;}
.chat-users .status.active{background-color: #29cc97;}
.chat-users .status.away{background-color: #fec400;}
.chat-right-content .chat-message{margin-bottom: 1.5rem;}
.chat-right-content .chat-message.chat-left img{width: 50px;}
.chat-right-content .chat-message.chat-right img{width: 40px}
.chat-right-content .chat-message.chat-right{text-align: right;justify-content: flex-end;}
.chat-right-content .chat-message .message{background-color: rgba(233, 236, 239, 0.5);padding: 0.5rem 1.25rem;border-radius: 0.25rem;margin-bottom: 0.25rem;color: #1b223c;}
.chat-right-content .chat-message .date-time{font-size: 10px;padding-left: 1.25rem;}
.admin-wrapper .add-btn{background-color: #62A777;color: #fff;font-weight: 600;text-transform: uppercase;border-radius: 20px;padding: 5px 20px 2px;}
.admin-wrapper .btn-submit{background-color: #62A777;color: #fff;font-weight: 600;text-transform: uppercase;border-radius: 20px;padding: .5rem 1.5rem;}
.admin-wrapper .add-btn i{font-size: 1.3rem;vertical-align: middle;}
.admin-wrapper .add-btn:hover{color: #fff;}
.admin-wrapper .card{border: 0;}
.admin-wrapper .card .basic-data-table{overflow-x: auto!important;}
.admin-wrapper .card .basic-data-table .row{margin: 0;}
.rounded-btn{width: 35px;height: 35px;border-radius: 50%;line-height: 35px;text-align: center;}
.rounded-btn i{font-size: 1rem;}
.admin-wrapper .basic-data-table .pagination .page-link{height: auto!important;padding: 10px;}
.admin-wrapper .basic-data-table .pagination .page-item.active .page-link{background-color: #1C534C!important;border-color: #1C534C!important;}
.admin-wrapper .basic-data-table .dataTables_filter .form-control{border-radius: 20px;height: 35px;}
.admin-wrapper .basic-data-table .table th{border: 0;background-color: rgba(98, 167, 119, 0.2);color: #1C534C;}
.admin-wrapper .basic-data-table .table td{border-top: 0;border-bottom: 1px solid #e5e9f2;}